Package: com.5px.intemperate
Name: Intemperate
Pre-Depends: firmware (>= 8.0)
Depends: mobilesubstrate, firmware (>=9.0)
Architecture: iphoneos-arm
Description: The temperature warning no longer exists.
Maintainer: FivePixels
Author: FivePixels
Section: Tweaks
Version: 1.0
Installed-Size: 344
